* {
  margin: 0;
}

h1 {
  font-family: 'Lilita One', sans-serif;
  font-size: 100px;
  line-height: 100px;
}

.App {
  position: relative;
  z-index: 1;
}

.insideApp {
  z-index: 2;
  background-color: #000;
  margin: 0 auto;
}

/* MAIN SECTION*/

.mainSection{
  background-color: #000;
}

.mainMargin {
  padding-top: 100px;
  display: flex;
  width:80%;
  margin: 0 auto;
}
.imgBlock {
  display: inline;
}
.hawkingImg {
  max-width: 600px;
}
.textBlock {
  margin-top:100px;
}
.caWidget{
  background-color: #303030;
  border-radius: 30px;
  padding: 15px 30px;
  margin-bottom: -30px;
  max-width: 350px;
}
.caWidgetText {
  color:#fff;
}
.mainButton {
  margin-top: 20px;
}
.socialsBlock{
  margin-top: 50px;
  display: flex;
}
.socialsText {
  font-size: 36px;
  font-family: 'Lilita One', sans-serif;
  padding-right:20px;
}
.socialsImg{
  max-width: 48px;
  margin: 0px 5px;
}

/* ABOUT SECTION */
.aboutSection {
  background-color: #FDD401;
}
.about-inside {
  width: 70%;
  margin: 0 auto;
  display: flex;
}
.textBlock {
  padding: 20px 0px;
}
.heading2 {
  font-family: 'Lilita One', sans-serif;
  font-size: 52px;
}
.bodyText {
  padding-top: 20px;
  max-width: 500px;
  font-size: 24px;
}
.aboutImg {
  max-width: 700px;
  margin-left: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/*RUNNING TEXT*/

.runningTextBlock {
  overflow: hidden;
}

.runningText {
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}



.heading {
  color: #FDD401;
  padding-top: 50px;
  padding-bottom: 20px;
}
.whiteText{
  color:#fff;
}

.button {
  font-family: 'Lilita One', sans-serif;
  border-radius: 2%;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 36px;
  border-radius: 5px;
  background-color: #FDD401;
  border:0;
  min-width: 200px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color:#000;
  z-index: 99;
  position: fixed;
}

.overlay-inside {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.overlayText {
  padding-top: 50px;
}

.dogNoBg {
  text-align: center;
  width: 300px;
  z-index: 100;
}

/*OVERLAY IMAGES*/

.imagesOverlay{
  width:900px;
  margin: 0 auto;
  text-align: center;
}

/*ROCKETS*/

.rocket{
  max-width: 300px;
}
.rocketLeft{ 
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

/*SPIN BLOCK*/
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spinBlock {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  margin: 50px 0;
}

@media only screen and (max-width: 600px) {
  .overlay-inside {
    width: 50%;
  }
  .overlayText {
    text-align: center;
    font-size: 32px;
    line-height: 30px;
  }
  .dogNoBg {
    max-width: 170px;
  }
}
.imgSection{
  margin:0 auto;
}
.imgLayoutBlock{
  width: 90%;
  margin:0 200px;
}
.socials{
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}
.socials img{
  width:64px;
  margin-left: 20px;
}